<% provide(:title, 'Autorzy') %>
<div class="container theme-showcase" role="main">

    <div class="page-header">
        <h1>Autorzy</h1>
    </div>
    <div class = "container-fluid authors">
        <div class="row">

            <div class = "container-fluid col-xs-6 col-sm-6 col-md-3">
                <p align="center" style="margin-bottom: 50px;"><img src = "<%= asset_path( 'kamelia.jpg' ) %>" class="img-circle" width="180" height="180"></p>
            	<h3>Kamelia Niemczyk</h3><p>back-end divinity</p>
            </div>
            <div class = "container-fluid col-xs-6 col-sm-6 col-md-3">
                <p align="center" style="margin-bottom: 50px;"><img src = "<%= asset_path( 'piotr.jpg' ) %>" class="img-circle" width="180" height="180"></p>
            	<h3>Piotr Olbrot</h3><p>database superior</p>
            </div>
            <div class = "container-fluid col-xs-6 col-sm-6 col-md-3">
                <p align="center" style="margin-bottom: 50px;"><img src = "<%= asset_path( 'mati.jpg' ) %>" class="img-circle" width="180" height="180"></p>	 
                <h3>Mateusz Pabian</h3><p>user experience prince</p>
            </div>
            <div class = "container-fluid col-xs-6 col-sm-6 col-md-3">
                <p align="center" style="margin-bottom: 50px;"><img src = "<%= asset_path( 'ola.jpg' ) %>" class="img-circle" width="180" height="180"></p>	
                <h3>Ola Rak</h3><p>front-end goddess</p>
            </div>
        </div>
    </div>



</div>