<% provide(:title, 'Desktop') %>

<h1>Aplikacja desktopowa</h1>

<div class="container-fluid">
  <p>Aplikacja TELEmed.app występuje również w wersji na Windows! W chwili obecnej umożliwia ona jedynie
    dodawanie plików do bazy rekordów, jednak <i>kto wie</i>, być może <i>w przyszłości</i> będzie mogła robić również tosty.
  </p><br>
  <p>Pobierz instalator aplikacji:</p>
  <ul>
    <li><a href="https://www.dropbox.com/s/vfclznbya3pxt1q/TELEmedapp%20Setup-x64.rar?dl=1" download>Windows (64-bit)</a></li>
    <li><a href="https://www.dropbox.com/s/7qw3nkc22c1plqa/TELEmedapp%20Setup-x86.rar?dl=1" download>Windows (32-bit)</a></li><br>
  </ul>
  <div class="container">
    <p style="text-align: center;"><img src = "<%= asset_path( 'desktop.jpg' ) %>" class="img"></p><br>
  </div>
</div>
