<!-- Page Content -->
    <div class="container home">

        <!-- Heading Row -->
        <div class="row">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="<%= asset_path( 'virtual-medicine.jpg' ) %>" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-md-4">
                <h3>Aplikacja telemedyczna</h3>
                <p style="text-align: justify">Aplikacja webowa, którą właśnie masz przed oczami to część systemu udostępniania i zarządzania danych akcelerometrycznych
                stworzona na potrzeby przedmiotu <strong>Podstawy Telemedycyny</strong>. Jej zastosowanie nie musi się skończyć, może być ona bowiem punktem wyjścia do stworzenia bardziej skomplikowanego systemu.</p>
                <div class="col-xs-5 col-sm-3 col-md-8 col-lg-7"style="padding-left: 0px; margin: 10px 0px;">
                <%= link_to "Dowiedz się więcej", help_path, class: "btn btn-col btn-block btn-steel-blue" %>
                </div>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                	<i>~ Quote of the day ~</i><br>
                    <strong>An apple a day keeps the doctor away (so does the telemedicine)</strong>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
 