<div class="center jumbotron">
  <h1>Witamy w TELEmed.app</h1>

  <%= link_to "Dodaj sygnał", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Baza sygnałów", '#', class: "btn btn-lg btn-primary" %>
</div>
