<% if @exams.blank? %>
<p>There are not any exams currently in the system.</p>
<% else %>
<p>These are the current exams in our system</p>

<ul id = "exams">
   <% @exams.each do |c| %>
   <li><%= link_to c.patient, {:action => 'show', :id => c.id} -%></li>
   <% end %>
</ul>

<% end %>
<p><%= link_to "Add new Exam", {:action => 'new' }%></p>