.btn-steel-blue {
    color: #ffffff;
    background-color: #437FAD;
    border-color: #437FAD;
}

.btn-steel-blue:hover,
.btn-steel-blue:focus,
.btn-steel-blue:active,
.btn-steel-blue.active,
.open .dropdown-toggle.btn-steel-blue {
    color: #ffffff!important;
    background-color: #3C6C91;
    border-color: #437FAD;
}

.btn-steel-blue:active,
.btn-steel-blue.active,
.open .dropdown-toggle.btn-steel-blue {
    background-image: none;
}

.btn-steel-blue.disabled,
.btn-steel-blue[disabled],
fieldset[disabled] .btn-steel-blue,
.btn-steel-blue.disabled:hover,
.btn-steel-blue[disabled]:hover,
fieldset[disabled] .btn-steel-blue:hover,
.btn-steel-blue.disabled:focus,
.btn-steel-blue[disabled]:focus,
fieldset[disabled] .btn-steel-blue:focus,
.btn-steel-blue.disabled:active,
.btn-steel-blue[disabled]:active,
fieldset[disabled] .btn-steel-blue:active,
.btn-steel-blue.disabled.active,
.btn-steel-blue[disabled].active,
fieldset[disabled] .btn-steel-blue.active {
    background-color: #437FAD;
    border-color: #437FAD;
}

.btn-steel-blue .badge {
    color: #ffffff;
    background-color: #ffffff;
}