#new_exam{
	margin: 0px;
	padding: 0px;
	
}

.form.container-fluid > label {
	font-size: 20px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.form.container-fluid > p > .input{
	box-sizing: border-box;
	width: auto;
	height: 40px;
	padding: 0px;
	margin: 0px;
	border-width: 1px;
	border-radius: 10px;
}

.form.container-fluid > p{
	box-sizing: border-box;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	width: auto;
}





