<footer class="footer">
  <div class="container">
    <div class="row-footer">
      <div>
        <ul class="list-unstyled">
          <li><%= link_to "Kontakt", contact_path %></li>
          <li><%= link_to "Autorzy", autorzy_path%></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
